*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
examples

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

python_interpreter_defaults
.pythonrc*
*.log
cookies.lwp*
config.cfg
*.html
*.swp
.venv
steam-idle.pid
*.e4p
.eric5project
.ropeproject
